@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  color:black;
  background-image: url("/bg/bg.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
}



@layer base {
  :root {
    --radius:0.5rem;
  }
}


/* Swiper custom styles */
.swiper-pagination-bullet {
  @apply opacity-100 !h-[2.5px]  !important;
  transition: width 0.3s ease-in-out; /* Smooth width transition */
}

.swiper-pagination {
  @apply !bottom-0 !-left-[38%] !important;
}

.bullet-active {
  @apply bg-white  h-1 !important;
  width: 3rem !important; /* Increase the width of the active bullet */
  transition: width 0.3s ease-out; /* Smooth width transition */
}
