@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  color:black;
  background-image: url("/bg/bg.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
}

.glass{
  /* From https://css.glass */

background-color: rgb(35 55 95 / 0.5);;
backdrop-filter: blur(10px);
-webkit-backdrop-filter: blur(10px);

}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


@layer base {
  :root {
    --radius:1.25rem;
  }
}


/* Swiper custom styles */
.swiper-pagination-bullet {
  @apply opacity-100 !h-[2.5px]  !important;
  transition: width 0.3s ease-in-out; /* Smooth width transition */
}

.swiper-pagination {
  @apply !bottom-0 !-left-[38%] !important;
}

.bullet-active {
  @apply bg-white  h-1 !important;
  width: 3rem !important; /* Increase the width of the active bullet */
  transition: width 0.3s ease-out; /* Smooth width transition */
}

@layer components {
 


  .backdrop-blur {
    backdrop-filter: blur(4px)
  }

}





@layer utilities {
  .border-gradiant{
    /* border: 1px solid; 
    border-image-source: linear-gradient(180deg, #1B2A48 0%, #4166AE 100%);
    border-image-slice: 1;
    border-radius: 20px !important; */
  }

  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
      display: none !important;
      width: 0 !important;
      
  }
 /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
      -ms-overflow-style: none;  /* IE and Edge */
      scrollbar-width: none;  /* Firefox */
}

}

