@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  color:black;
  background-image: url("/bg/bg.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
}



@layer base {
  :root {
    --radius:0.5rem;
  }
}
